In [1]:
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
import matplotlib as plt
import pandas as pd
import geopandas as gpd
import time
%matplotlib inline

In [7]:
from creds import creds

In [8]:
conn = psycopg2.connect( host=creds['hostname'], user=creds['username'], password=creds['password'], dbname=creds['database'] )
#conn.close()

In [9]:
osm_query = "SELECT * FROM public.osm_pois_ref limit 10"

In [10]:
start = time.time()
osm_pois = pd.read_sql_query(osm_query ,conn)
elapsed_time_fl = (time.time() - start) 
print(elapsed_time_fl)

0.12932634353637695

In [26]:
osm_pois.head()

,lat,lon,osm_id,code,fclass,place_name,uuid,geom
0,39.903840,98.430604,1.144829e+09,2950,tower,None,6625,0101000020E61000004C21EB048F9B58401C284B08B1F3...
1,22.373838,114.020667,1.167439e+09,2901,toilet,None,6721,0101000020E61000002F66F09C52815C402DFD95DFB35F...
2,21.982135,101.467496,1.681703e+09,2001,police,None,10753,0101000020E610000046802E75EB5D59402145532C6DFB...
3,36.288417,120.261714,2.427710e+09,2301,restaurant,None,21478,0101000020E6100000F1B913ECBF105E40CF4FCCD5EA24...
4,39.780702,116.500144,2.610694e+09,2566,bicycle_rental,None,23416,0101000020E61000002E92D15C02205D40AAF7AF07EEE3...

# Geopandas Implementation

In [28]:
osm_pois_gpd = gpd.read_postgis(sql = osm_query, con = conn)

In [29]:
osm_pois_gpd.head()

,lat,lon,osm_id,code,fclass,place_name,uuid,geom
0,39.903840,98.430604,1.144829e+09,2950,tower,None,6625,POINT (98.43060 39.90384)
1,22.373838,114.020667,1.167439e+09,2901,toilet,None,6721,POINT (114.02067 22.37384)
2,21.982135,101.467496,1.681703e+09,2001,police,None,10753,POINT (101.46750 21.98213)
3,36.288417,120.261714,2.427710e+09,2301,restaurant,None,21478,POINT (120.26171 36.28842)
4,39.780702,116.500144,2.610694e+09,2566,bicycle_rental,None,23416,POINT (116.50014 39.78070)